{% load ndf_tags %}


<style >
    .recent_activities, .overall_activities {
        width : 100%;
        height : auto;
        position : relative;
        float : left;
        margin : 10px 0px;
        padding : 10px;
        font-size : 30px;
    }
    .tabs{
    font-size: 18px;
    }

	.heading{
		font-size: 15px;
		font-weight: 900;
	}
	.content{
		font-size: 30px;
		font-weight: normal;
		line-height: 40px;
        position : relative;
        float: left;
	}
	.element{
		float: left;
		position: relative;
		width: 30%;
        border : 1px solid #ddd;
        margin : 10px;
        padding : 10px;
        background-color : #f1f1f1;
        border-radius : 2px;
	}
 
	.cate {
        width: 100%;
        border-bottom : 1px solid #ddd
    }
    .panel {
	  border-style: solid;
	  border-width: 1px;
	  border-color: #c6f8fb;
	  margin-bottom: 1.25rem;
	  padding: 1.25rem;
	  background: #f9feff;
	  color: #333333;
	}

    .link-handle {
        postion : relative;
        float : left;
        line-height : 48px;
        font-size : 20px;
        cursor : pointer;
    }
</style>


<div class="overall_activities">
    <div class="cate">Overall Activities </div>
    <div class="element">
        <div class="heading">Total Activities : <br>
            <span class= "content">{{data.total_activities}}</span>
        </div>
    </div>

    <div class="element">
        <div class= "heading">Forum :<br>
            <div class= "content">{{data.forums}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton0" fetch="list_activities/forum"></i></div>
        </div>
    </div>

    <div class="element">
        <div class= "heading">Pages :<br>
            <div class= "content"> {{data.pages}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton0" fetch="list_activities/page"></i></div>
        </div>
    </div>

    <div class="element">
        <div class= "heading">Threads : <br>
            <div class="content"> {{data.threads}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton0" fetch="list_activities/thread"></i></div>
        </div>
    </div>


    <div class="element">
        <div class= "heading">Replies : <br>
            <div class="content"> {{data.replies}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton0" fetch="list_activities/reply"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Files : <br>
            <div class="content"> {{data.files}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton0" fetch="list_activities/file"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Courses : <br>
            <div class="content"> --</div>
        </div>
    </div>	

    <div class="element">
        <div class="heading">Announced Courses : <br>
            <div class= "content">--</div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Active Users : <br>
            <span class= "content">
                <ul>
                {% for x in data.active_users %}
                    <li>{{x.name}} : {{x.activities}}</li>
                {% endfor %}
                </ul>
            </span>
        </div>
    </div>
</div>


<div class="recent_activities">
    <div class="cate">Recent Activities <span style="font-size: 15px">(for the last 1 week)</span></div>
    <div class="element">
        <div class="heading">Created/Edited Forums :<br>
            <div class= "content"> {{data.recent.forums}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton1" fetch="list_activities/forum"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Created/Edited Pages : <br>
            <div class= "content">{{data.recent.pages}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton1" fetch="list_activities/page"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Created/Edited Threads : <br>
            <div class= content> {{data.recent.threads}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton1" fetch="list_activities/thread"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Created/Edited Replies :<br>
            <div class= content> {{data.recent.replies}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton1" fetch="list_activities/reply"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Created/Edited Files : <br>
            <div class= content>{{data.recent.files}}</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link analyticsViewButton1" fetch="list_activities/file"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Created/Edited Courses : <br>
            <div class= content> --</div>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link" fetch="list_activities/file"></i></div>
        </div>
    </div>

    <div class="element">
        <div class="heading">Created/Edited Announced Courses : <br>
            <div class= content> --</span>
            <div class="link-handle">&nbsp;&nbsp;<i class="fi-link" fetch="list_activities/file"></i></div>
        </div>
    </div>
</div>

<script>
    $(".analyticsViewButton0").click(function() {
        var route = $(this).attr("fetch")
        $.ajax({
            url : "/{{group_id}}/analytics/group/"+route, 
            data : { 'recent' : 0},
            method : 'POST',
            headers: {
                "X-CSRFToken":csrftoken
            },
            success : function(data) {
                $("#flushed_content").html(data)
            } 
        })  
    })


    $(".analyticsViewButton1").click(function() {
        var route = $(this).attr("fetch")
        $.ajax({
            url : "/{{group_id}}/analytics/group/"+route, 
            data : { 'recent' : 1},
            method : 'POST',
            headers: {
                "X-CSRFToken":csrftoken
            },
            success : function(data) {
                $("#flushed_content").html(data)
            } 
        })  
    })

   </script>